{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner banner-slider-inner text-center">
            <div class="carousel-item banner-max-height active item-bg">
                <img class="d-block w-100 h-100 img-fluid" src="{% static "img/CIT-Building-Photo.jpg" %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
{#                    {% include 'includes/messages.html' %}#}
                    <h3>Wow Factor Standard</h3>
                    <h5>Allow us to guide you through the innovative stress<br>
                        free approach in finding your dream car.</h5>
                    <a href="services.html" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static "img/car-2.jpg" %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Explore Your Dream Car</h3>
                    <h5>Allow us to guide you through the innovative stress<br>
                        free approach in finding your dream car.</h5>
                    <a href="#" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="img/car-3.jpg" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>We Are Wheel</h3>
                    <h5>Allow us to guide you through the innovative stress<br>
                        free approach in finding your dream car.</h5>
                    <a href="#" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}